log_level: 'trace'
timeouts:
  startup: 30s
  shutdown: 30s
http:
  listen_address: ':8080'
  cors:
    allowed_origins: ['*']
database:
  host: 'mongodb+srv://db-url.mongodb.net'
  name: 'DATABASE-NAME'
  username: 'DATABASE-USERNAME'
  password: 'DATABASE-PASSWORD'